*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* Search history */
#search-history .list-group-item {
  cursor: pointer;
}

body{
    background-image: url('/images/DALL-E-Thomas-Skyline.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container{
    padding: 20px 70px;
}

.row {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: stretch; 
}

.card-column {
  flex: 1 1 250px;
  margin: 10px;
}

.card-block {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  padding: 10px; 
  border: 1px solid rgba(255, 255, 255, 0.454);
  border-radius: 5px; 
  text-align: center; 
  min-height: 300px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

@media screen and (min-width: 768px) {
}